{% extends 'base_menu.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}">Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_proy' %}">Desarrollo</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_fase' item.tipoItems.fase.proyecto.id %}">Proyecto <sub>{{ item.tipoItems.fase.proyecto.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_i' item.tipoItems.fase.pk %}" > Fase <sub>{{  item.tipoItems.fase.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" >Item <sub>{{  item.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" >Asignar Relacion<sub>{{  item.nombre }}</sub></a>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block titulo %}Administraci&oacute;n de la Relacion del item {{ item.nombre }}{% endblock %}
{% block contenido %}
    <div class="span10">
        <h2><a href="#"></a>Administrador<small class="on-right">de Relacion del Item </small> {{item.nombre }}</h2>
        <div class="example">
            <a href="{% url 'sigma:adm_rel_asig_ant' item.id %}">
                <button class="command-button primary">
                    <i class="icon-link on-left"></i><b>Asignar un</b>
                    <small>Antecesor</small>
                </button>
            </a>
            <a href="{% url 'sigma:adm_rel_asig_padre' item.id %}">
                <button class="command-button primary">
                    <i class="icon-link on-left"></i><b>Asignar un</b>
                    <small>Padre</small>
                </button>
            </a>
            <a href="{% url 'sigma:adm_rel_hijos' item.id %}">
                <button class="command-button primary">
                    <i class="icon-eye on-left"></i><b>Listar</b>
                    <small>Hijos</small>
                </button>
            </a>
            {% if ban %}
                <a href="{% url 'sigma:adm_rel_desasignar' item.id item.item_padre %}">
                    <button class="command-button primary "  >
                        <i class="icon-eye on-left"></i><b>Desasignar</b>
                        <small>Relacion</small>
                    </button>
                </a>
            {% else %}
                <a href="#">
                    <button class="command-button disabled "  >
                        <i class="icon-eye on-left"></i><b>Desasignar</b>
                        <small>Relacion</small>
                    </button>
                </a>
            {% endif %}

            <table class="table striped hovered dataTable" id="tablaFase">
                <thead>
                     <tr>
                         <th class="text-left">Nombre</th>
                         <th class="text-left">Complejidad</th>
                         <th class="text-left">Prioridad</th>
                         <th class="text-left">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in item_padres %}
                        <tr>
                            <td>{{ i.nombre }}</td>
                            <td class="right" width>{{ i.complejidad }}</td>
                            <td class="right" width>{{ i.prioridad }}</td>
                            <td class="right" width>{{ i.estado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-left">Nombre</th>
                        <th class="text-left">Complejidad</th>
                        <th class="text-left">Prioridad</th>
                        <th class="text-left">Estado</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}