{% extends 'base_menu.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}">Página Principal</a>
    <a class="element" href="{% url 'sigma:des_proyec' %}">Proyectos</a>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="{% url 'sigma:finalizar' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block titulo %}Fases del proyecto {{ proyecto.nombre }}{% endblock %}
{% block definicion_script %}
    <script>
        function cambiarPosicion(urlAsignar){
            $.getJSON(urlAsignar, {xhr: "true"}, function(data){
                $.Dialog({
                    shadow: true,
                    overlay: true,
                    flat: true,
                    draggable: true,
                    icon: '<span class="icon-bus"></span>',
                    title: 'Draggable window',
                    width: 250,
                    height: 100,
                    padding: 10,
                    scrollTop: 0,
                    content: 'This Window is draggable by caption.',
                    draggable: true,
                    onShow: function(){
                        var contenido = new String();
                        contenido= contenido +'<div class="input-control switch" data-role="input-control" align="left" id="usuarios">'+
                                    '<label class="inline-block" align="left">'+
                                    '<select name="posicion">';
                        $.each(data, function(i, dato){
                            contenido = contenido + '<option value="'+ dato.pkFase +'">'+dato.posicion+' - '+ dato.nombre +'</option>';
                        });
                        contenido = contenido + '</select></label></div>';
                        var content = '<div style=" overflow: auto">'+
                                '<form method="get" action="'+urlAsignar+'">' +
                                '<input type="hidden" value="" name="csrfmiddlewaretoken"></input>'+
                                contenido+
                                '<br>'+
                                //'<a class="button primary" href='+ urlAsignar +'> S&iacute; </a>' +
                                '<input type="submit" value="Aceptar" class="button success">'+
                                '<a href="#" onclick="$.Dialog.close();"><input class="button inverse" type="button" value="No" ></a>'+
                                '</form>'+
                                '</div>';
                        $.Dialog.title("Realizar Intercambio de Fases");
                        $.Dialog.content(content);
                    }
                });
            })
        };
    </script>
{% endblock %}
{% block contenido %}
    <div class="span10">
        <h2><a href="#"></a>Administrador<small class="on-right">de Fases del Proyecto </small> {{ proyecto.nombre }}</h2>
        <div class="example">
            <a href="{%  url 'sigma:adm_fase_alta' proyecto.id %}">
                <button class="command-button primary">
                    <i class="icon-new on-left"></i><b>Agregar</b>
                    <small>Fase</small>
                </button>
            </a>
            <table class="table striped hovered dataTable" id="tablaFase">
                <thead>
                     <tr>
                         <th class="text-left">Nombre</th>
                         <th class="text-left">Posici&oacute;n</th>
                         <th class="text-left">Estado</th>
                         <th class="text-left">Fecha de Inicio</th>
                         <th class="text-left">Fecha de Fin</th>
                         <th class="text-left">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fase in fases %}
                        <tr>
                            <td>{{ fase.nombre }}</td>
                            <td class="right" width>{{ fase.posicionFase }}</td>
                            <td class="right" width>{{ fase.estado }}</td>
                            <td class="right" width>
                                {% if fase.estado == 'Iniciado' %}
                                    {{ fase.fechaInicio}}
                                {% endif %}
                            </td>
                            <td class="right" width>
                                {% if fase.estado == 'Finalizado' %}
                                    {{ fase.fechaFin }}
                                {% endif %}
                            </td>
                            <td align="center">
                                <div class="span8">
                                    <nav class="navigation-bar transparente">
                                        <div class="navigation-bar-content">
                                            <ul class="element-menu">
                                                <li>
                                                    <a class="dropdown-toggle" href="#"><i class="icon-cog"></i></a>
                                                    <ul class="dropdown-menu" data-role="dropdown">
                                                        {% if fase.estado != 'Iniciado' %}
                                                        <li class="text-left"><a href="{% url 'sigma:adm_fase_mod' proyecto.pk fase.pk %}">
                                                            <i class="icon-pencil on-left"></i>Modificar</a></li>
                                                        <li class="text-left"><a id="botBaja{{ fase.pk }}" >
                                                            <i class="icon-remove on-left"></i>Eliminar</a></li>
                                                        {% endif %}
                                                        <li class="text-left"><a href="{% url 'sigma:adm_ti' fase.proyecto.pk fase.pk %}">
                                                            <i class="icon-accessibility"></i>Tipos de &Iacute;tem</a></li>
                                                        <li class="text-left"><a href="{% url 'sigma:adm_i' fase.pk %}">
                                                            <i class="icon-accessibility"></i>&Iacute;tems</a></li>
                                                        {% if fase.estado == 'Pendiente' %}
                                                        <li class="text-left" onclick="cambiarPosicion('{% url 'sigma:des_fase_intercambio' fase.pk %}')">
                                                            <a href="#">
                                                            <i class="icon-undo"></i>Intercambiar</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </td>
                        </tr>
                        <script>
                            $("#botBaja{{ fase.pk }}").on('click', function(){
                            $.Dialog({
                                shadow: true,
                                overlay: true,
                                flat: true,
                                draggable: true,
                                icon: '<span class="icon-bus"></span>',
                                title: 'Draggable window',
                                width: 500,
                                padding: 10,
                                content: 'This Window is draggable by caption.',
                                onShow: function(){
                                    var content = '<form>' +
                                            '<p>¿Est&aacute; seguro de querer eliminar esta fase?</p>' +
                                            '<a class="button primary" href="{% url 'sigma:adm_fase_baja' proyecto.pk fase.pk %}"> S&iacute; </a>' +
                                            '<a href="{% url 'sigma:adm_fase' proyecto.pk %}"><input type="button" value="No" ></a>'+
                                            '</form>';
                                    $.Dialog.title("Confirmar Eliminaci&oacute;n");
                                    $.Dialog.content(content);
                                }
                            });
                        });
                        </script>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-left">Nombre</th>
                        <th class="text-left">Descripci&oacute;n</th>
                        <th class="text-left">Estado</th>
                        <th class="text-left">Fecha de Inicio</th>
                        <th class="text-left">Fecha de Fin</th>
                        <th class="text-left">Editar</th>
                    </tr>
                </tfoot>
            </table>
            <script>
                $(document).ready(function() {
                    $('#tablaFase').dataTable( {
                        "oLanguage": {
                            "sUrl": "/static/MetroBoostrap/data/spanish.txt"
                        }
                    } );
                } );
            </script>
        </div>
    </div>
{% endblock %}