{% extends 'base.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}">Modulo de Administracion</a>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="{% url 'sigma:finalizar' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="grid">
            <div class="row">
                  <!--=====================================tabla=================================-->
                <div class="span10">
                    <div class="">
                        <h1><a href="#"></a>Administrador<small class="on-right">de Roles</small></h1>
                        <form action="{%  url 'sigma:adm_r_buscar' %}" method="post">
                        {% csrf_token %}
                            <div class="span5">
                                <div class="input-control text" data-role="input-control">
                                    <input type="text" name="busqueda" placeholder="nombre del rol">
                                    <button class="btn-search"></button>
                                </div>
                            </div>
                        </form>
                        <table class="table hovered" >
                            <thead>
                                <tr><!--quinta tabla--la que se selecciona al pasar encima-->
                                    <th class="text-left">Id</th>
                                    <th class="text-left">Nombre</th>
                                    <th class="text-left">Descripcion</th>
                                    <th class="text-left">Edicion</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for r in roles %}
                                <tr>
                                    <td>{{ r.id }}</td>
                                    <td>{{ r.nombre }}</td>
                                    <td class="right">{{ r.descripcion }}</td>
                                    <td class="right">
                                        <div class="element-menu">
                                            <a class="dropdown-toggle" href="#"><span class="icon-cog"></span></a>
                                            <ul class="dropdown-menu default" data-role="dropdown">
                                                <li><a href="{%  url 'sigma:adm_r_mod' r.id %}">Modificar</a></li>
                                                <li><a href="{%  url 'sigma:adm_r_baja' r.id %}">Eliminar</a></li>
                                                <li>
                                                    <a class="dropdown-toggle" href="#">Permisos</a>
                                                    <ul class="dropdown-menu" data-role="dropdown" style="display:none;">
                                                        {% for p in r.permisos.all %}
                                                            <li>{{p.nombre}}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div><!--div de la tabla 1-->
                    <a href="{%  url 'sigma:adm_r_altas' %}">
                        <button class="command-button primary">
                            <i class=""></i>Agregar Rol
                            <small></small>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}