{% extends 'base.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}"> Página Principal</a>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="{% url 'sigma:finalizar' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block contenido %}
    <div class="container" align="center">
        <div class="grid">
            <div class="row">
                  <!--=====================================tabla=================================-->
                <div class="span9">
                    <div class="">
                        <h1><a href="#"></a>Administrador<small class="on-right">de Usuario</small></h1>
                        <form action="{%  url 'sigma:adm_u_bus' %}" method="post">
                        {% csrf_token %}
                            <div class="span5">
                                <div class="input-control text" data-role="input-control">
                                    <input type="text" name="valor_buscado" placeholder="Username">
                                    <button class="btn-search"></button>
                                </div>
                            </div>
                        </form>
                        <table class="table hovered" >
                            <thead>
                                <tr><!--quinta tabla--la que se selecciona al pasar encima-->
                                    <th class="text-left">Username</th>
                                    <th class="text-left">E-mail</th>
                                    <th class="text-left">Fecha de Registro</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for u in user %}
                                <tr>
                                    <td>{{ u.username }}</td>
                                    <td class="right">{{ u.email }}</td>

                                    <td class="right">{{ u.date_joined }}</td>

                                    <td class="right"><a class="pull-menu" href="#"></a>
                                         <div class="element-menu">
                                            <a class="dropdown-toggle" href="#"><span class="icon-cog"></span></a>
                                            <ul class="dropdown-menu default" data-role="dropdown">
                                                <li><a href="{% url 'sigma:adm_u_mod' u.id %}">Modificar</a></li>
                                                <li><a href="{% url 'sigma:adm_u_baja' u.id %}">Eliminar</a></li>
                                                <li><a href="{% url 'sigma:adm_u_ver' u.id %}">Ver detalle</a></li>
                                                <!--li class="disabled"><a href="#">Eliminar</a></li-->
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div><!--div de la tabla 1-->
                    <div class="pagination">
                        <span class="step-links">
                            {% if user.has_previous %}
                                <a href="?page={{ user.previous_page_number }}">Previous</a>
                            {% endif %}
                            <span class="current">
                                Pag. {{ user.number }} de {{ user.paginator.num_pages }}.
                            </span>
                            {% if user.has_next %}
                                <a href="?page={{ user.next_page_number }}">Next</a>
                            {% endif %}
                        </span>
                    </div>
                    <a href="{%  url 'sigma:adm_u_altas' %}">
                        <button class="command-button primary">
                            <i class=""></i>Agregar Usuario
                            <small></small>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}