{% extends 'base_menu.html' %}

{% block definicion_script %}
<script>
    function confirmar(url_aux)
    {
        $.Dialog({
            shadow: true,
            overlay: true,
            flat: true,
            draggable: true,
            icon: '<i class="icon-warning"></span>',
            title: 'Draggable window',
            width: 500,
            padding: 10,
            content: 'This Window is draggable by caption.',
            onShow: function(){
                var content =
                    '<div class="example">'+
                        '<form>' +
                            '<h2>Est&aacute; a punto de eliminar este item...</h2>' +
                            '<div class="form-actions" align="center">'+
                                '<a class="button" href="' + url_aux + '"> Aceptar </a>' + ' ' +
                                '<button class="button" onclick=$.Dialog.close()>' +
                                    'Cancelar</button>'+
                            '</div>'+
                        '</form>'+
                    '</div>';
                $.Dialog.title("Confirmar Eliminaci&oacute;n");
                $.Dialog.content(content);
            }
        });
    }
</script>
{% endblock %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}"> Página Principal</a>
    <a class="pull-menu" href="#"></a>
    <a class="element place-right" href="#">   </a>
    <span class="element-divider"></span>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="{% url 'sigma:finalizar' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block titulo %}Administraci&oacute;n de Items{% endblock %}
{% block contenido %}
    <div class="span10">
        <h2><a href="#"></a>Administrador<small class="on-right">de &Iacute;tems de la Fase </small>{{ nomb}}</h2>
        <div class="example">
            <a href="{%  url 'sigma:adm_i_alta' fase %}">
                <button class="command-button primary">
                    <i class="icon-new on-left"></i><b>Agregar</b>
                    <small>Item</small>
                </button>
            </a>

            <a href="{%  url 'sigma:adm_i_rev' fase %}">
                <button class="command-button primary">
                    <i class="icon-new on-left"></i><b>Revivir</b>
                    <small>Item</small>
                </button>
            </a>

            <table class="table striped hovered dataTable" id="datatable2">
                <thead>
                    <th class="text-left">Nombre de la fase</th>
                    <th class="text-left">Nombre del Item</th>
                    <th class="text-left">Tipo del Item</th>
                    <th class="text-left">Version</th>
                    <th class="text-left">Estado</th>
                    <th class="text-center">Editar</th>
                </thead>
                <tbody>
                    {% for i in items %}
                        <tr>
                            <td class="right">{{ nomb }}</td>
                            <td class="right">{{ i.nombre }}</td>
                            <td class="right">{{ i.tipoItems.nombre }}</td>
                            <td class="right">{{ i.version }}</td>
                            <td class="right">{{ i.estado }}</td>
                            <td align="center">
                                <div class="span1">
                                    <nav class="navigation-bar transparente">
                                        <div class="navigation-bar-content">
                                            <ul class="element-menu">
                                                <li>
                                                    <a class="dropdown-toggle" href="#"><i class="icon-cog"></i></a>
                                                    <ul class="dropdown-menu" data-role="dropdown">
                                                        <li class="text-left"><a href="{% url 'sigma:adm_i_mod' i.id %}">
                                                            <i class="icon-pencil on-left"></i>Modificar</a></li>
                                                        <li class="text-left" onclick="confirmar('{% url 'sigma:adm_i_baja' i.id %}')">
                                                            <a href="#">
                                                            <i class="icon-remove on-left"></i>Eliminar</a></li>
                                                        <li class="text-left"><a href="{% url 'sigma:adm_i_revertir' i.pk %}">
                                                            <i class="icon-eye on-left"></i>Revertir</a></li>
                                                        <li class="text-left"><a href="{% url 'sigma:adm_i_historialItem' i.pk %}">
                                                            <i class="icon-eye on-left"></i>Historial Item</a></li>
                                                        <li class="text-left"><a href="{% url 'sigma:adm_relacion' i.id %}">
                                                            <i class="icon-link on-left"></i>Relacionar Item</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-left">Nombre de la fase</th>
                        <th class="text-left">Nombre del Item</th>
                        <th class="text-left">Tipo del Item</th>
                        <th class="text-left">Version</th>
                        <th class="text-left">Estado</th>
                        <th class="text-center">Editar</th>
                    </tr>
                </tfoot>
            </table>
            <script>
                $(document).ready(function() {
                    $('#datatable2').dataTable( {
                        "oLanguage": {
                            "sUrl": "/static/MetroBoostrap/data/spanish.txt"
                        }
                    } );
                } );
            </script>
        </div>
    </div>
{% endblock %}