{% extends 'base_menu.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}"> Página Principal</a>
    <a class="element" href="{% url 'sigma:adm_proy' %}">Proyectos</a>
    <a class="element" href="{% url 'sigma:adm_fase' pkProyecto %}">Fases</a>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="{% url 'sigma:finalizar' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block titulo %}Administrar Tipos de &Iacute;tem{% endblock %}
{% block contenido %}
    <div class="span10">
        <h2><a href="#"></a>Administrador<small class="on-right">de Tipos de &Iacute;tem de la Fase {{ fase.nombre }}</small></h2>
        <div class="example">
            <a href="{%  url 'sigma:adm_ti_alta' fase.proyecto.pk fase.pk %}">
                <button class="command-button primary">
                    <i class="icon-new on-left"></i><b>Agregar</b>
                    <small>Tipo de &Iacute;tem</small>
                </button>
            </a>
            <a href="{%  url 'sigma:adm_ti_impor' fase.pk%}" id="importarLink">
                <button class="command-button primary">
                    <i class="icon-new on-left"></i><b>Importar</b>
                    <small>Tipo de &Iacute;tem</small>
                </button>
            </a>
            <table class="table striped hovered dataTable" id="tablaTI">
                <thead>
                    <th class="text-left">Nombre</th>
                    <th class="text-left">Descripci&oacute;n</th>
                    <th class="text-left">Puede Importar?</th>
                    <th class="text-left">Editar</th>
                </thead>
                <tbody>
                    {% for ti in listaTI %}
                        <tr>
                            <td>{{ ti.nombre }}</td>
                            <td class="right">{{ ti.descripcion }}</td>
                            <td class="right">{% if ti.importar %}S&iacute;{% else %}No{% endif %}</td>
                            <td align="center">
                                <div class="span6">
                                    <nav class="navigation-bar">
                                        <div class="navigation-bar-content">
                                            <ul class="element-menu">
                                                <li>
                                                    <a class="dropdown-toggle" href="#"><i class="icon-cog"></i></a>
                                                    <ul class="dropdown-menu" data-role="dropdown">
                                                        <li class="text-left"><a href="{% url 'sigma:adm_ti_mod' pkProyecto fase.pk ti.pk %}">
                                                            <i class="icon-pencil on-left"></i>Modificar</a></li>
                                                        <li class="text-left"><a id="botBaja{{ ti.pk }}">
                                                            <i class="icon-remove on-left"></i>Eliminar</a></li>
                                                        <li class="text-left"><a href="{% url 'sigma:adm_atrib' ti.pk %}">
                                                            <i class="icon-book on-left"></i>Atributos</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </td>
                        </tr>
                        <script>
                            $("#botBaja{{ ti.pk }}").on('click', function(){
                            $.Dialog({
                                shadow: true,
                                overlay: true,
                                flat: true,
                                draggable: true,
                                icon: '<span class="icon-bus"></span>',
                                title: 'Draggable window',
                                width: 500,
                                padding: 10,
                                content: 'This Window is draggable by caption.',
                                onShow: function(){
                                    var content = '<form>' +
                                            '<p>¿Est&aacute; seguro de querer eliminar este Tipo de &Iacute;tem?</p>' +
                                            '<a class="button primary" href="{% url 'sigma:adm_ti_baja' pkProyecto fase.pk ti.pk %}"> S&iacute; </a>' +
                                            '<a href="{% url 'sigma:adm_ti' pkProyecto fase.pk %}"><input type="button" value="No" ></a>'+
                                            '</form>';
                                    $.Dialog.title("Confirmar Eliminaci&oacute;n");
                                    $.Dialog.content(content);
                                }
                            });
                        });
                        </script>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-left">Nombre</th>
                        <th class="text-left">Descripci&oacute;n</th>
                        <th class="text-left">Puede Importar?</th>
                        <th class="text-left">Editar</th>
                    </tr>
                </tfoot>
            </table>
            <script>
                $(document).ready(function() {
                    $('#tablaTI').dataTable( {
                        "oLanguage": {
                            "sUrl": "/static/MetroBoostrap/data/spanish.txt"
                        }
                    } );
                } );
            </script>
        </div>
    </div>
{% endblock %}