{% extends 'base.html' %}
{% block definicion_script %}
<script>
    function confirmar(url_aux)
    {
        //var url_aux = '/ss/rol/eliminar/'+id;
        $.Dialog({
            shadow: true,
            overlay: true,
            flat: true,
            draggable: true,
            icon: '<i class="icon-warning"></span>',
            title: 'Draggable window',
            width: 500,
            padding: 10,
            content: 'This Window is draggable by caption.',
            onShow: function(){
                var content =
                    '<div class="example">'+
                        '<form>' +
                            '<h2>Est&aacute; a punto de eliminar este rol...</h2>' +
                            '<div class="form-actions" align="center">'+
                                '<a class="button danger" href="' + url_aux + '"> Aceptar </a>' +
                                '<button class="button" onclick=$.Dialog.close()>'+
                                    'Cancelar</button>'+
                            '</div>'+
                        '</form>'+
                    '</div>';
                $.Dialog.title("Confirmar Eliminaci&oacute;n");
                $.Dialog.content(content);
            }
        });
    }
</script>
{% endblock %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}">Pagina Principal</a>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="{% url 'sigma:finalizar' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block contenido %}
    <div class="container">
        <h1><a href="#"></a>Administrador<small class="on-right">de Roles</small></h1>
        <div class="example">
            <a href="{%  url 'sigma:adm_r_altas' %}">
                <button class="command-button primary">
                    <i class="icon-new on-left"></i><b>Agregar</b>
                    <small>Rol</small>
                </button>
            </a>
            <table class="table striped hovered dataTable" id="datatable_rol">
                <thead>
                    <tr>
                        <th class="text-left">Nombre</th>
                        <th class="text-left">Descripcion</th>
                        <th class="text-left">Editar</th>
                    </tr>
                </thead>
                <tbody>
                {% for r in roles_list %}
                    <tr>
                        <td>{{ r.nombre }}</td>
                        <td class="right">{{ r.descripcion }}</td>
                        <td align="center">
                            <div class="span1">
                                <nav class="navigation-bar">
                                    <div class="navigation-bar-content">
                                        <ul class="element-menu">
                                            <li>
                                                <a class="dropdown-toggle" href="#"><i class="icon-cog"></i></a>
                                                <ul class="dropdown-menu" data-role="dropdown">
                                                    <li class="text-left"><a href="{% url 'sigma:adm_r_mod' r.id %}">
                                                        <i class="icon-pencil on-left"></i>Modificar</a></li>
                                                    <li class="text-left" onclick="confirmar('{% url 'sigma:adm_r_baja' r.id %}')">
                                                        <a href="#">
                                                        <i class="icon-remove on-left"></i>Eliminar</a></li>
                                                    <li class="text-left">
                                                        <a class="dropdown-toggle" href="#">
                                                        <i class="icon-eye"></i>
                                                        Ver Permisos</a>
                                                        <ul class="dropdown-menu" data-role="dropdown">
                                                            {% for p in r.permisos.all %}
                                                                <li>{{p.nombre}}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-left">Nombre</th>
                        <th class="text-left">Descripcion</th>
                        <th class="text-center">Editar</th>
                    </tr>
                </tfoot>
            </table>
            <script>
                $(document).ready(function() {
                    $('#datatable_rol').dataTable( {
                        "oLanguage": {
                            "sUrl": "/static/MetroBoostrap/data/spanish.txt"
                        }
                    } );
                } );
            </script>
        </div>
    </div>
{% endblock %}