{% extends 'base.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:inicio' %}> Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:adm_u' %}> Administrar Usuario</a>
    <a class="element place-right" href={% url 'sigma:finalizar' %}> Cerrar Sesion </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <!--div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="{% url 'sigma:finalizar' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div-->
    </ul>
{% endblock %}
{% block contenido %}
    <div class="container" align = "center">
        {% if messages %}
            {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
        {% endif %}
        <h1><a href="#"></a>Crear<small class="on-right">Usuario</small></h1>
        <div class="">
            <form action = "{% url 'sigma:adm_u_altas' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span9">
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Nombre</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        {{ form.nombre }}
                                        <!--input type="text" placeholder="nombre del usuario" id="nombre" required-->
                                        <button class="btn-clear" tabindex="-1" type="button"> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label>Apellido</label>
                        <div class="input-control text" data-role="input-control">
                            {{ form.apellido }}
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div>
                        <label>Cedula de Identidad</label>
                        <div class="input-control text" data-role="input-control">
                            {{ form.ci }}
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div>
                        <label>Direccion</label>
                        <div class="input-control text" data-role="input-control" >
                            {{ form.direccion }}
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div>
                        <label>Numero de telefono</label>
                        <div class="input-control text" data-role="input-control" >
                            {{ form.tel }}
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div>
                        <label>Direccion de e-mail</label>
                        <div class="input-control text" data-role="input-control" >
                            {{ form.email }}
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div>
                        <label>Nombre de la cuenta</label>
                        <div class="input-control text" data-role="input-control" >
                            {{ form.nombre_usuario }}
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div>
                        <label>Contraseña</label>
                        <div class="input-control password" data-role="input-control">
                            {{ form.contrasenha }}
                            <button class="btn-reveal" tabindex="-1" type="button"> </button>
                        </div>
                        <br>
                        <br>
                        <br>
                        <input type="submit" value="Aceptar" onclick="mensaje()">
                        <a href="{% url 'sigma:adm_u' %}"><input type="button" value="Cancelar" ></a>
                    </div>
                </fieldset>
            </form>
        </div><!--DIV DEL CLASS VACIO-->
    </div><!--======div de container-->
{% endblock %}
