{% extends 'base_menu.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:inicio' %}> Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:des_proyec' %}>Desarrollo</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_fase' proyectos.id %}">Proyecto <sub>{{ proyectos.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_i' idfase %}" > Fase <sub>{{ nombreFase }}</sub></a>
    <span class="element-divider"></span>
    <a class="element">Item <sub>Crear</sub></a>
    <a class="element place-right" href={% url 'sigma:finalizar' %}>   </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block titulo %}Alta Items{% endblock %}
{% block contenido %}
    <div class="span10">
        <h1><a href="#"></a>Crear<small class="on-right">Item</small></h1>
        <div class="">
            <form action = "{% url 'sigma:adm_i_alta' idfase opcion %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span9">
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Nombre</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text" name="nombre"  required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-control select" data-role="input-control">
                            <label class="inline-block">Tipo de &iacute;tem:</label>
                            <select name="tipo">
                                {% for tip in tipos %}
                                    <option value="{{ tip.pk }}">{{ tip.nombre }}</option>
                                {% endfor %}
                            </select>

                        </div><br><br>
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Tipo de &iacute;tem:</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control select" data-role="input-control">
                                        <select name="tipo">
                                            {% for tip in tipos %}
                                                <option value="{{ tip.pk }}">{{ tip.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    {% if opcion == 0 %}
                                        <label class="text-right">Item padre:</label>
                                    {% else %}
                                        <label class="text-right">Item antecesor:</label>
                                    {% endif %}
                                </div>
                                <div class="span6">
                                    <div class="input-control select" data-role="input-control">
                                        <select name="i_padre">
                                            {% if ban_defecto %}
                                                <option value="0">ninguno</option>
                                            {% endif %}
                                            {% for i in listaitems %}
                                                <option value="{{ i.id }}">{{ i.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Complejidad</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text" name="complejidad"  required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Prioridad</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text" name="prior" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Versi&oacute;n</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text" placeholder="1" name="vers" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Estado</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text" placeholder="activo" name="estado" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <input type="submit" value="Aceptar" onclick="mensaje()">
                        <a href="{% url 'sigma:adm_i' idfase %}"><input type="button" value="Cancelar" ></a>
                    </div>
                </fieldset>
            </form>
        </div><!--DIV DEL CLASS VACIO-->
    </div><!--======div de container-->
{% endblock %}
