{% extends 'base_menu.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}">Página Principal</a>
    <a class="element" href="{% url 'sigma:adm_proy' %}">Proyectos</a>
    <a class="element" href="{% url 'sigma:adm_fase' id_proy %}">Fase</a>
    <a class="element" href="{% url 'sigma:adm_i' id_fase %}">Item</a>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="{% url 'sigma:finalizar' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block titulo %}Establecer L&iacute;nea Base{% endblock %}
{% block contenido %}
    <div class="span10">
        <h2><a href="#"></a>Establecer<small class="on-right">l&iacute;nea base</small></h2>
        <div class="example">
            <form action="{%  url 'sigma:adm_fase_lb_est' id_proy id_fase %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="grid fluid">
                        <div class="row">
                            <div class="span3">
                                <label class="text-right">Nombre</label>
                            </div>
                            <div class="span7">
                                <div class="input-control text" data-role="input-control">
                                    <input type="text" name="nombre">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-control switch" data-role="input-control" align="left">
                        <table class="table striped hovered dataTable" id="tablaFase">
                            <thead>
                                 <tr>
                                     <th class="text-left">Establecer?</th>
                                     <th class="text-left">Nombre</th>
                                     <th class="text-left">Complejidad</th>
                                     <th class="text-left">Prioridad</th>
                                     <th class="text-left">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in itemfinales %}
                                    <tr>
                                        <td><div class="input-control switch" data-role="input-control" align="left"></td>
                                        <td>{{ i.nombre }}</td>
                                        <td class="right" width>{{ i.complejidad }}</td>
                                        <td class="right" width>{{ i.prioridad }}</td>
                                        <td class="right" width>{{ i.estado }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-left">Establecer?</th>
                                    <th class="text-left">Nombre</th>
                                    <th class="text-left">Complejidad</th>
                                    <th class="text-left">Prioridad</th>
                                    <th class="text-left">Estado</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                        <input type="submit" value="Aceptar" onclick="">
                        <a href="{% url 'sigma:adm_fase_lb' id_proy id_fase %}"><input type="button" value="Cancelar" ></a>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}