{% extends 'base_menu.html' %}
{% block titulo %}Modificar Atributo{% endblock %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}"> P&aacute;gina Principal</a>
    <a class="element" href="{% url 'sigma:adm_proy' %}">Proyectos</a>
    <a class="element" href="{% url 'sigma:adm_fase' ti_asoc.fase.proyecto.pk %}">Fases</a>
    <a class="element" href="{% url 'sigma:adm_ti' ti_asoc.fase.proyecto.pk ti_asoc.fase.pk %}">Tipos de &Iacute;tems</a>
    <a class="element" href="{% url 'sigma:adm_atrib' ti_asoc.pk  %}">Atributos</a>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block contenido %}
    <div class="span10" align = "center">
        <h1><a href="#"></a>Modificar<small class="on-right">Atributo</small></h1>
        <div class="example">
            <form action = "{% url 'sigma:adm_atrib_mod' ti_asoc.pk atrib.pk %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span3">
                        <div class="input-control text" data-role="input-control">
                            <label class="label">Nombre del Atributo</label>
                            <input type="text" required="true" name="nombre" value="{{ atrib.nombre }}">
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div><br><br>
                        <div class="input-control select" data-role="input-control">
                            <label class="label">Tipo</label>
                            <select name="select">
                                {% for tipo in tipos %}
                                    <option value="{{ tipo.pk }}" {% if atrib.atributos.pk == tipo.pk %}selected{% endif %}>{{ tipo.tipo }}</option>
                                {% endfor %}
                            </select>
                        </div><br><br><br>
                        <input type="submit" value="Aceptar">
                        <a href="{% url 'sigma:adm_atrib' ti_asoc.pk %}"><input type="button" value="Cancelar" ></a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}