{% extends 'base.html' %}
{% block navegacion %}
    <a class="element place-right" href={% url 'sigma:finalizar' %}> Cerrar Sesion </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="Iniciar Sesion.html">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}