{% extends 'base.html' %}
{% block navegacion %}
    <a class="element place-right" href={% url 'sigma:finalizar' %}> Cerrar Sesion </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="Iniciar Sesion.html">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block contenido %}
    <div class="container" align = "center">
        {% if messages %}
            {% for message in messages %}
                <dialog id="hola" onshow="true"></dialog>
                <script>
                    $('#hola').on('show', function (){
                        $.Notify({
                            shadow: true,
                            position: 'bottom-right',
                            content: {{ message }},
                            timeout: 10000
                        });
                    });
                </script>
            {% endfor %}
        {% endif %}
        <h1><a href="#"></a>Modificar<small class="on-right">Fase </small></h1>
        <div class="">
            <form action = "{% url 'sigma:adm_fase_mod' proyecto fase.pk %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span3">
                        {%  if alerta %}
                            <!--script>
                                $(function (){
                                    $.Notify({
                                        shadow: true,
                                        position: 'bottom-right',
                                        content: {{ alerta }},
                                        timeout: 10000
                                    });
                                })
                            </script-->
                            <p>{{ alerta }}</p>
                        {% endif %}
                        <div class="input-control text" data-role="input-control">
                            <label class="label">Nombre de Proyecto</label>
                            <input type="text" name="nombre" required value="{{ fase.nombre }}">
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div><br><br>
                        <div class="input-control textarea" data-role="input-control">
                            <label class="label">Descripci&oacute;n</label>
                            <textarea cols="60" id="id_descripcion" name="descripcion" required="true" rows="3">{{ fase.descripcion }}</textarea>
                        </div><br><br><br>
                        <div class="input-control text" data-role="datepicker" data-format="yyyy-mm-dd hh:mm:ss">
                            <label class="label">Fecha de Inicio</label>
                            <input type="text" name="fechaInicio" required="true" value="{{ fase.fechaInicio }}">
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div><br><br><br>
                        <div class="input-control number" data-role="datepicker" data-format="yyyy-mm-dd">
                            <label class="label">Fecha de Fin</label>
                            <input type="text" name="fechaFin" required="true" value="{{ fase.fechaFin }}">
                        </div><br><br>
                        <input type="submit" value="Aceptar" onclick="">
                        <a href="{% url 'sigma:adm_fase' proyecto %}"><input type="button" value="Cancelar" ></a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}