{% extends 'base_menu.html' %}
{% block definicion_script %}
{% endblock %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}"> Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:des_proyec' %}">Desarrollo</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_fase' item.tipoItems.fase.proyecto.id %}">Proyecto <sub>{{ item.tipoItems.fase.proyecto.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_i' item.tipoItems.fase.pk %}" > Fase <sub>{{  item.tipoItems.fase.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" >Historial del Item <sub>{{  item.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
    <a class="element place-right" href="#">   </a>
    <span class="element-divider"></span>
{% endblock %}
{% block titulo %}Historial Items{% endblock %}
{% block contenido %}
     {% load sigma_system_tags %}
    <div class="span10" align="center">
        <h2><a href="#"></a>Historial<small class="on-right">Items </small></h2>
        <div class="example">
            <table class="table striped hovered dataTable" id="datatable2">
                <thead>

                    <th class="text-left">Fecha de modificacion</th>
                    <th class="text-left">Version Actual </th>
                    <th class="text-left">Version Anterior</th>
                    <th class="text-left">Valor Actual</th>
                    <th class="text-left">Valor Anterior</th>
                    <th class="text-left">Descripcion del cambio</th>
                </thead>
                <tbody>
                    {% for h in his %}
                        {% if h.nro_version_act > 0 %}
                            <tr>


                                <td class="right">{{ h.fecha_mod }}</td>
                                <td class="right">{{ h.nro_version_act  }}</td>
                                <td class="right">{{ h.nro_version_ant }}</td>
                                <td class="right">{{ h.valor_act }}</td>
                                <td class="right">{{ h.valor_ant }}</td>
                                <td class="right">{{ h.id|mensajeHistorial }} </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                 Tipo: {{ item.tipoItems.nombre }}
                        {% for at in atributos  %}
                            {{ at.tipoItemAtrib.nombre }}
                        {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-left">Fecha de modificacion</th>
                        <th class="text-left">Version Actual </th>
                        <th class="text-left">Version Anterior</th>
                        <th class="text-left">Valor Actual</th>
                        <th class="text-left">Valor Anterior</th>
                        <th class="text-left">Descripcion del cambio</th>
                    </tr>
                </tfoot>
            </table>
            <script>
                $(document).ready(function() {
                    $('#datatable2').dataTable( {
                        "oLanguage": {
                            "sUrl": "/static/MetroBoostrap/data/spanish.txt"
                        }
                    } );
                } );
            </script>
        </div>
    </div>
{% endblock %}