{% extends 'base.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}"> Página Principal</a>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="{% url 'sigma:finalizar' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="grid">
            <div class="row">
                  <!--=====================================tabla=================================-->
                <div class="span9">
                    <div class="">
                        <h1><a href="#"></a>Administrador<small class="on-right">de Usuario</small></h1>
                        <table class="datatable">
                            <thead>
                                <th>Username</th>
                                <th>E-mail</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    <script>
                        $(document).ready(function() {
                            var oTable = $('.datatable').dataTable({
                                // ...
                                "bProcessing": true,
                                "bServerSide": true,
                                "sAjaxSource": "{% url 'sigma:adm_u_listar' %}"
                            });
                            // ...
                        });
                    </script>
                    </div><!--div de la tabla 1-->

                    <a href="{%  url 'sigma:adm_u_altas' %}">
                        <button class="command-button primary">
                            <i class=""></i>Agregar Usuario
                            <small></small>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}