{% extends 'base.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:inicio' %}> Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:adm_u' %}> Administrar Usuario </a>
    <a class="element place-right" href={% url 'sigma:finalizar' %}> Cerrar Sesión </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <!--div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href={% url 'sigma:finalizar' %}>Cerrar Sesión</a></li>
                </ul>
            </div>
        </div-->
    </ul>
{% endblock %}
{% block contenido %}
    <div class="container" align = "center">
        <h1><a href="#"></a>Modificar<small class="on-right">Usuario</small></h1>
        <div class="">
            <form action = "{% url 'sigma:adm_u_mod' user.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span3">
                        {%  if alerta %}
                            <p> {{ alerta }}</p>
                        {% endif %}

                        <label>Nombre</label>
                        <div class="input-control text"  data-role="input-control" >
                            <input type="text" placeholder=" " name="nombre" required value={{user.first_name }} disabled>

                        </div>


                        <label>Apellido</label>
                        <div class="input-control text" data-role="input-control">
                            <input type="text" placeholder=" " name="apellido" required value={{user.last_name }} disabled>
                        </div>


                        <label>Cedula de Identidad</label>
                        <div class="input-control text" data-role="input-control">
                            <input type="text" placeholder=" " name="ci" required value={{user.usuario.ci }} disabled>
                        </div>


                        <label>Direccion</label>
                        <div class="input-control text" data-role="input-control" >
                            <input type="text" placeholder=" " name="direccion" required value={{user.usuario.direccion }}>
                        </div>


                        <label>Numero de telefono</label>
                        <div class="input-control text" data-role="input-control" >
                            <input type="text" placeholder=" " name="tel" required value={{user.usuario.tel }}>
                        </div>


                        <label>Direccion de e-mail</label>
                        <div class="input-control text" data-role="input-control" >
                            <input type="text" placeholder=" " name="email" required value={{user.email }} disabled>
                        </div>


                        <label>Nombre de la cuenta</label>
                        <div class="input-control text" data-role="input-control" >
                            <input type="text" placeholder=" " name="username" required value={{user.username }} disabled>
                        </div>


                        <label>Contraseña</label>
                        <div class="input-control password" data-role="input-control">
                            <input type="text" placeholder="la contraseña no se puede visualizar" name="pass" disabled>
                        </div>
                        <br>
                        <br>
                        <br>
                        <input type="submit" value="Aceptar" onclick="mensaje()">
                        <a href="{% url 'sigma:adm_u' %}"><input type="button" value="Cancelar" ></a>
                    </div>
                </fieldset>
            </form>
        </div><!--DIV DEL CLASS VACIO-->
    </div><!--======div de container-->
{% endblock %}