{% extends "base_menu.html" %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}"> Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_r' %}"> Administrar Rol</a>
    <span class="element-divider"></span>
    <a class="element" href="#"> Modificar rol: {{ rol.nombre }}</a>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block contenido %}
    <div class="span10" align="center">
    <div class="example">
        <h1>Modificar<small class="on-right">Rol</small></h1>
        <form action="{%  url 'sigma:adm_r_mod' rol.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="">
                    <label>Nombre del rol</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" name="nombre" value="{{ rol.nombre }}" required>
                        <button class="btn-clear" tabindex="-1" type="button"></button>
                    </div>
                </div>
                <div class="">
                    <label>Descripcion</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" name="descripcion" value="{{ rol.descripcion }}">
                        <button class="btn-clear" tabindex="-1" type="button"></button>
                    </div>
                </div>
                <h1>Asignar/Desasignar<small class="on-right">permisos</small></h1>
                <div class="input-control switch" data-role="input-control" align="left">
                    <label class="inline-block" align="left">
                        <input type="checkbox" name="mar_desmar" value="" onclick=marcar(this);>
                        <span class="check"></span>
                        Marcar/Desmarcar
                    </label>
                    <br><br>
                    {% for p in permisos %}
                    <label class="inline-block" align="left">
                        <input type="checkbox" name="permisos" value="{{ p.id }}" align="left" {{ p.ban }}>
                        <span class="check"></span>
                        {{ p.nombre }}
                    </label>
                    <br>
                    {% endfor %}
                </div>
                <div class="">
                    <input type="submit" value="Aceptar" onclick="" class="button success">
                    <a href="{% url 'sigma:adm_r' %}"><input type="button" value="Cancelar" class="button inverse"></a>
                </div>
            </fieldset>
        </form>
    </div></div>
{% endblock %}