{% extends 'base_menu.html' %}
{% block definicion_script %}
    <script type="text/javascript">
        $(document).ready(function(){
            setear();
        });
    </script>
    <script type="text/javascript">
        function setear(){
            document.getElementById("complejidad").selectedIndex=parseInt({{ item.complejidad }})-1;
            document.getElementById("prior").selectedIndex=parseInt({{ item.prioridad }})-1;
        }
    </script>
{% endblock %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:inicio' %}> Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:des_proyec' %}">Desarrollo</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_fase' item.tipoItems.fase.proyecto.id %}">Proyecto <sub>{{ item.tipoItems.fase.proyecto.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_i' item.tipoItems.fase.pk %}" > Fase <sub>{{  item.tipoItems.fase.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" >Item: Modificar <sub>{{  item.nombre }}</sub></a>
    <a class="element place-right" href="#">   </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block titulo %}Modificar Item{% endblock %}
{% block contenido %}
    <div class="span10">
        <h1>Modificar<small class="on-right">Item</small></h1>
        <div class="example">
            <form action = "{% url 'sigma:adm_i_mod'  item.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span9">
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Nombre</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text"  data-role="input-control" >
                                        <input type="text"  name="nombre" required value={{item.nombre }} >
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Complejidad</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control select" data-role="input-control">
                                        <select name="complejidad" id="complejidad" required>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Prioridad</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control select" data-role="input-control">
                                        <select name="prior" id="prior" required>
                                            <option value="1">Baja</option>
                                            <option value="2">Media</option>
                                            <option value="3">Alta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Version</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text"  name="version" required value={{item.version }} disabled >
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Estado</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text disabled" data-role="input-control" >
                                        <input type="text" name="estado" required value={{item.estado }} disabled >
                                    </div>
                                </div>
                            </div>
                        </div>
                        Atributos del Tipo de Item
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <lavel>Tipo de Item</lavel>
                                </div>
                                <div class="span6">
                                    <div class="input-control text disabled" data-role="input-control" >
                                        <input type="text" name="tipo" required value= {{ item.tipoItems.nombre }} disabled>
                                     </div>
                                </div>
                            </div>
                        </div>
                        {% for a in atributos %}
                            <div class="grid fluid">
                                <div class="row">
                                    <div class="span3">
                                        <label>{{ a.tipoItemAtrib.nombre }}</label>
                                    </div>
                                    <div class="span6">
                                        <div class="input-control text disabled" data-role="input-control"  >
                                            <input type="text" placeholder="{{ a.tipoItemAtrib.atributos.tipo }}" name="def_{{ a.tipoItemAtrib.nombre }}" required value= {{ a.valor_atrib }}  >
                                         </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}










                        <br>
                        <br>
                        <br>
                        <input type="submit" value="Aceptar" onclick="mensaje()" class="button success">
                        <a href="{% url 'sigma:adm_i' item.tipoItems.fase.pk %}"><input type="button" value="Cancelar" class="button inverse"></a>
                    </div>
                </fieldset>
            </form>
        </div><!--DIV DEL CLASS VACIO-->
    </div><!--======div de container-->
{% endblock %}
