{% extends 'base_menu.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:inicio' %}> Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:adm_u' %}> Administracion <sub>Usuario</sub></a>
    <span class="element-divider"></span>
    <a class="element"> Modificar <sub>{{ user.username }}</sub></a>
    <a class="element place-right" href={% url 'sigma:finalizar' %}>   </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block titulo %}Modificar Usuario{% endblock %}
{% block contenido %}
    <div class="span10">
        <h1><a href="#"></a>Modificar<small class="on-right">Usuario</small></h1>
        <div class="example">
            <form action = "{% url 'sigma:adm_u_mod' user.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span9">
                        {%  if alerta %}
                            <p> {{ alerta }}</p>
                        {% endif %}
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Nombre</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text"  data-role="input-control" >
                                        <input type="text" placeholder=" " name="nombre" required value={{user.first_name }} >
                                    </div>
                                 </div>
                            </div>
                        </div>

                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Apellido</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text" placeholder=" " name="apellido" required value={{user.last_name }}>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Cédula de Identidad</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text" placeholder=" " name="ci" required value={{user.usuario.ci }} >
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Dirección</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control" >
                                        <input type="text" placeholder=" " name="direccion" required value={{user.usuario.direccion }}>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Núumero de teléfono</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control" >
                                        <input type="text" placeholder=" " name="tel" required value={{user.usuario.tel }}>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Dirección de e-mail</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control" >
                                        <input type="text" placeholder=" " name="email" required value={{user.email }} disabled>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Nombre de la cuenta</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control" >
                                        <input type="text" placeholder=" " name="username" required value={{user.username }} disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label class="text-right">Contraseña</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control password" data-role="input-control">
                                        <input type="text" placeholder="la contraseña no se puede visualizar" name="pass" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Aceptar" onclick="mensaje()" class="button success">
                        <a href="{% url 'sigma:adm_u' %}"><input type="button" value="Cancelar" class="button inverse"></a>
                    </div>
                </fieldset>
            </form>
        </div><!--DIV DEL CLASS VACIO-->
    </div><!--======div de container-->
{% endblock %}