{% extends 'base_menu.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:inicio' %}> Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:des_proyec' %}">Desarrollo</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_fase' item.tipoItems.fase.proyecto.id %}">Proyecto <sub>{{ item.tipoItems.fase.proyecto.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_i' item.tipoItems.fase.pk %}" > Fase <sub>{{  item.tipoItems.fase.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" >Item: Modificar <sub>{{  item.nombre }}</sub></a>
    <a class="element place-right" href="#">   </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block titulo %}Modificar Item{% endblock %}
{% block contenido %}
    <div class="span10">
        <h1><a href="#"></a>Modificar<small class="on-right">Item</small></h1>
        <div class="">
            <form action = "{% url 'sigma:adm_i_mod'  item.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span9">
                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Nombre</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text"  data-role="input-control" >
                                        <input type="text"  name="nombre" required value={{item.nombre }} >
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Complejidad</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="int" placeholder=" " name="complejidad" required value={{item.complejidad }} >
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Prioridad</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text"  name="prior" required value={{item.prioridad }} >
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Version</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control">
                                        <input type="text"  name="version" required value={{item.version }} disabled >
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid fluid">
                            <div class="row">
                                <div class="span3">
                                    <label>Estado</label>
                                </div>
                                <div class="span6">
                                    <div class="input-control text" data-role="input-control" >
                                        <input type="text" name="estado" required value={{item.estado }}>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <br>
                        <br>
                        <input type="submit" value="Aceptar" onclick="mensaje()">
                        <a href="{% url 'sigma:adm_i' item.tipoItems.fase.pk %}"><input type="button" value="Cancelar" ></a>
                    </div>
                </fieldset>
            </form>
        </div><!--DIV DEL CLASS VACIO-->
    </div><!--======div de container-->
{% endblock %}
