{% extends "base.html" %}
{% block navegacion %}
    <a class="element place-right" href={% url 'sigma:finalizar' %}> Cerrar Sesion </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="Iniciar Sesion.html">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block contenido %}
    <h1>
        Bienvenido<small class="on-right">{{ user }}</small>
    </h1>
    <div class="" style="height:220px;">
        <nav class="horizontal-menu">
            <!--ul>
                <li-->
                    <ul class="dropdown-menu open keep-open" style="">
                        <li><a class="dropdown-toggle" href="{% url 'sigma:adm_u' %}">Administrar Usuario</a>
                            <ul class="dropdown-menu" data-role="dropdown" style="display: none;">
                                <li><a href="Administrar Proyecto.html">Proyecto</a></li>
                                <li><a href="Administrador Usuario.html">Usuario</a></li>
                            </ul>
                        </li>
                        <!--li><a class="dropdown-toggle" href="#"> Modulo de Desarrollo</a>
                            <ul class="dropdown-menu" data-role="dropdown" style="display: none;">
                                <li class="disabled"><a href="Administrar Fase.html">Fase</a></li>
                                <li class="disabled"><a href="#">Item</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-toggle" href="#"> Modulo de Gestion de Cambio</a>
                            <ul class="dropdown-menu" data-role="dropdown" style="display: none;">
                                <li class="disabled"><a href="#">Linea Base</a></li>
                                <li class="disabled"><a href="#">Historia??</a></li>
                            </ul>
                        </li-->
                    </ul>
                <!--/li>
            </ul-->
        </nav>
    </div>
{% endblock %}