{% extends 'base.html' %}
{% block navegacion %}
    <a class="element place-right" href={% url 'sigma:finalizar' %}> Cerrar Sesion </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block contenido %}
    <div class="span10">
        <h1><a href="#"></a>Dar de baja un <small class="on-right">Proyecto</small></h1>
        <div class="">
            {% if alerta %}
                <p>{{ alerta }}</p>
                <a href="{% url 'sigma:adm_proy' %}"><input type="button" value="Atr&aacute;s" ></a>
            {% else %}
            <form action = "{% url 'sigma:adm_proy_baja' idProyecto %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span3">
                        <h1>¿Est&aacute; seguro de querer eliminar este proyecto?</h1>
                        <input type="submit" value="S&iacute;" onclick="">
                        <a href="{% url 'sigma:adm_proy' %}"><input type="button" value="No" ></a>
                    </div>
                </fieldset>
            </form>{% endif %}
        </div>
    </div>
{% endblock %}