{% extends 'base.html' %}
{% block navegacion %}
    <a class="element place-right" href={% url 'sigma:finalizar' %}> Cerrar Sesion </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="Iniciar Sesion.html">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block contenido %}
    <div class="container" align = "center">
        <h1><a href="#"></a>Crear<small class="on-right">Proyecto</small></h1>
        <div class="">
            <form action = "{% url 'sigma:adm_proy_alta' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span3">
                        <div class="input-control text" data-role="input-control">
                            <label class="label">Nombre del Proyecto</label>
                            <input type="text" required="true" name="nombreProyecto">
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div><br><br>
                        <div class="input-control textarea" data-role="input-control">
                            <label class="label">Descripci&oacute;n</label>
                            <textarea cols="60" id="id_descripcion" name="descripcion" required="true" rows="3"></textarea>
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div><br><br><br>
                        <input type="submit" value="Aceptar" onclick="">
                        <a href="{% url 'sigma:adm_proy' %}"><input type="button" value="Cancelar" ></a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        $('#fullDate').datepicker({
            onSelect: function(dateText, inst) {
                var pieces = dateText.split('/');
                $('#day').val(pieces[0]);
                $('#month').val(pieces[1]);
                $('#year').val(pieces[2]);
            }
        })
    </script>
{% endblock %}