{% extends 'base_menu.html' %}
{% block navegacion %}
    <a class="element place-right" href={% url 'sigma:finalizar' %}> Cerrar Sesion </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href="Iniciar Sesion.html">Cerrar Sesi&oacute;n</a></li>
                </ul>
            </div>
        </div>
    </ul>
{% endblock %}
{% block contenido %}
    <div class="span10">
        <h1>Crear<small class="on-right">Proyecto</small></h1>
        <div class="example">
            <form action = "{% url 'sigma:adm_proy_alta' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="span3"></div>
                    <div class="span4">
                        <label class="inline-block">Nombre del Proyecto</label>
                        <div class="input-control text" data-role="input-control">
                            <input type="text" required="true" name="nombreProyecto">
                            <button class="btn-clear" tabindex="-1" type="button"> </button>
                        </div><br><br>
                        <div class="input-control textarea" data-role="input-control">
                            <label class="inline-block">Descripci&oacute;n</label>
                            <textarea cols="60" id="id_descripcion" name="descripcion" required="true" rows="3"></textarea>
                        </div><br><br><br>
                        <div class="input-control" data-role="input-control">
                            <label class="inline-block">N&uacute;mero de Fases</label>
                            <input id="noFas" class="number" name="nroFases" required="true" value="1">
                        </div><br><br><br>
                        <div class="input-control selected">
                            <label class="inline-block">L&iacute;der:</label>
                            <select class="select" name="lider">
                                {% for tip in lideres %}
                                    <option value="{{ tip.usuario.pk }}">{{ tip.usuario.user.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div><br><br>
                        <input type="submit" value="Aceptar" class="button success">
                        <a href="{% url 'sigma:adm_proy' %}"><input type="button" value="Cancelar" class="button inverse"></a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        $('#fullDate').datepicker({
            onSelect: function(dateText, inst) {
                var pieces = dateText.split('/');
                $('#day').val(pieces[0]);
                $('#month').val(pieces[1]);
                $('#year').val(pieces[2]);
            }
        })
    </script>
{% endblock %}