<!--{ extends 'base.html' }
{ block titulo %}Reporte del Proyecto{   endblock %}-->
{% block contenido %}
     {% load sigma_system_tags %}
    <div class="span10" align="center">
        <h1><a href="#"></a>Reporte de Solicitudes de Cambio  </h1>
        <div class="example">
            <h1>Nombre del proyecto: {{ nombreProyecto }}</h1>
            <h1>Lider del Proyecto: {{ liderProyecto }}</h1>
        <table class="table striped hovered dataTable">
            <thead>
                <th class="text-left">Nombre</th>
                <th class="text-left">L&iacute;neas Bases relacionadas</th>
                <th class="text-left">Usuario solicitante </th>
                <th class="text-left">Votacion del Lider</th>
                <th class="text-left">Estado de la solicitud</th>
            </thead>
            <tbody>
            {% for element in solicitudes %}
                <tr>
                    <td class="text-left">{{ element.codigo }}</td>
                    <td class="text-left">
                        {% for lb in element.lbs %}
                            <p align="left">{{ lb.pos }} {{ lb.nombre }}</p>
                        {% endfor %}
                    </td>
                    <td class="text-left">{{  element.usuario }}</td>
                    <td class="text-left">{{ element.votoLider }}</td>
                    <td class="text-left">{{ element.estado }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
{% endblock %}