<!--{ extends 'base.html' }
{ block titulo %}Reporte del Proyecto{   endblock %}-->
{% block contenido %}
     {% load sigma_system_tags %}
    <div class="span10" align="center">
        <h1><a href="#"></a>Reporte de Solicitudes de Cambio  </h1>
        <div class="example">
            <h1>Nombre del proyecto: {{ nombreProyecto }}</h1>
            <h1>Lider del Proyecto: {{ liderProyecto }}</h1>
            {% for element in vector %}
                {% for e in element %}
                    {% if forloop.counter == 1 %}
                        Solicitud de Camio: {{ e.nombre }}
                        <table class="table striped hovered dataTable">
                                <thead>
                                    <th class="text-left">Linea Base</th>
                                    <th class="text-left">Usuario solicitante </th>
                                    <th class="text-left">Votacion del Lider</th>
                                    <th class="text-left">Estado de la solicitud</th>

                                </thead>
                    {% endif %}

                {% endfor %}
                <tbody>
                {% for e in element  %}

                        {% if forloop.counter > 1 %}

                            <tr>
                                <td class="text-left">{{ e.lineaBase }}</td>
                                <td class="text-left">{{ e.usuarioSolicitante }} </td>
                                <td class="text-left">{{  e.votacion}}</td>
                                <td class="text-left">{{ e.estado }}</td>

                            </tr>
                        {% endif %}
                        {% if forloop.counter == 1 %}

                            {% if forloop.last %}

                                <tr>
                                    <td class="text-left">--</td>
                                    <td class="text-left">-</td>
                                    <td class="text-left">--</td>
                                    <td class="text-left">--</td>

                                </tr>

                            {% endif %}
                        {% endif %}

                {% endfor %}
                </tbody>
                </table>
            {%endfor%}
        </div>
    </div>
{% endblock %}