{% extends 'base_menu.html' %}
{% block definicion_script %}
<script>
    function confirmar(url_aux)
    {
        $.Dialog({
            shadow: true,
            overlay: true,
            flat: true,
            draggable: true,
            icon: '<i class="icon-warning"></span>',
            title: 'Draggable window',
            width: 500,
            padding: 10,
            content: 'This Window is draggable by caption.',
            onShow: function(){
                var content =
                    '<div class="example">'+
                        '<form>' +
                            '<h2>Est&aacute; a punto de revivir este item...</h2>' +
                            '<div class="form-actions" align="center">'+
                                '<a class="button" href="' + url_aux + '"> Aceptar </a>' + ' ' +
                                '<button class="button" onclick=$.Dialog.close()>' +
                                    'Cancelar</button>'+
                            '</div>'+
                        '</form>'+
                    '</div>';
                $.Dialog.title("Confirmar Revivir");
                $.Dialog.content(content);
            }
        });
    }
</script>
{% endblock %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}"> Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:des_proyec' %}">Desarrollo</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_fase' idFase %}"> Proyecto <sub>{{ proyecto.nombre }}</sub></a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:adm_i' idFase %}"> Fase <sub>{{ nomb }}</sub></a>
    <span class="element-divider"></span>
    <a class="element"> Item <sub>Revivir</sub></a>

    <a class="pull-menu" href="#"></a>
    <a class="element place-right" href="#">   </a>
    <span class="element-divider"></span>
{% endblock %}
{% block titulo %}Revivir Items{% endblock %}
{% block contenido %}
    <div class="span10">
        <h2><a href="#"></a>Revivir<small class="on-right">Items de la Fase </small>{{ nomb}}</h2>
        <div class="example">
            <table class="table striped hovered dataTable" id="datatable2">
                <thead>
                    <th class="text-left">Nombre de la fase</th>
                    <th class="text-left">Nombre del Item</th>
                    <th class="text-left">Tipo del Item</th>
                    <th class="text-left">Version</th>
                    <th class="text-left">Estado</th>
                    <th class="text-center">Editar</th>
                </thead>
                <tbody>
                    {% for i in items %}
                        {% if i.version > 0 %}
                            <tr>
                                <td class="right">{{ nomb }}</td>
                                <td class="right">{{ i.nombre }}</td>
                                <td class="right">{{ i.tipoItems.nombre }}</td>
                                <td class="right">{{ i.version }}</td>
                                <td class="right">{{ i.estado }}</td>
                                <td align="center">
                                    <i class="text-left" onclick="confirmar('{% url 'sigma:adm_i_revivir' i.id %}')">
                                        <a href="#">Revivir</a>
                                    </i>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-left">Nombre del Item</th>
                        <th class="text-left">Version</th>
                        <th class="text-left">Estado</th>
                        <th class="text-center">Editar</th>
                    </tr>
                </tfoot>
            </table>
            <script>
                $(document).ready(function() {
                    $('#datatable2').dataTable( {
                        "oLanguage": {
                            "sUrl": "/static/MetroBoostrap/data/spanish.txt"
                        }
                    } );
                } );
            </script>
        </div>
    </div>
{% endblock %}