{% extends 'base.html' %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:inicio' %}> Pagina Principal</a>
    <span class="element-divider"></span>
    <a class="element" href={% url 'sigma:adm_u' %}> Administrar Usuario</a>
    <a class="element place-right" href={% url 'sigma:finalizar' %}> Cerrar Sesión </a>
    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
    <ul class="element-menu">
        <li></li>
        <!--div class="no-tablet-portrait">
            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right" data-role="dropdown">
                    <li><a href={ url 'sigma:finalizar' %}>Cerrar Sesión</a></li>
                </ul>
            </div>
        </div-->
    </ul>
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="grid">
            <div class="row">
                  <!--=====================================tabla=================================-->
                <div class="span9">
                    <div class="">
                        <h1><a href="#"></a>Detalle<small class="on-right">del Usuario</small></h1>
                        <table class="table hovered" >
                            <thead>
                                <tr><!--quinta tabla--la que se selecciona al pasar encima-->
                                    <th class="text-left">Username</th>
                                    <th class="text-left">Nombre del usuario</th>
                                    <th class="text-left">Apellido del Usuario</th>
                                    <th class="text-left">Dirección</th>
                                    <th class="text-left">Teléfono</th>
                                    <th class="text-left">E-mail</th>
                                    <th class="text-left">Número de Cédula</th>
                                    <th class="text-left">Fecha de Registro</th>
                                    <th class="text-left">Contraseña</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for u in user %}
                                <tr>
                                    <td>{{ u.username }}</td>
                                    <td class="right">{{ u.first_name}}</td>
                                    <td class="right">{{ u.last_name }}</td>
                                    <td class="right">{{ u.usuario.direccion }}</td>
                                    <td class="right">{{ u.usuario.tel }}</td>
                                    <td class="right">{{ u.email }}</td>
                                    <td class="right">{{ u.usuario.ci }}</td>
                                    <td class="right">{{ u.date_joined }}</td>
                                    <td class="right">{{ u.password }}</td>

                                    <!--td class="right"><a class="pull-menu" href="#"></a>

                                    </td-->
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div><!--div de la tabla 1-->
                    <!--a href="{ url 'sigma:adm_u_altas' %}">
                        <button class="command-button primary">
                            <i class=""></i>Agregar Usuario
                            <small></small>
                        </button>
                    </a-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}