{% extends 'base_menu.html' %}
{% block definicion_script %}
   <script>

   </script>
{% endblock %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}">Página Principal</a>
    <a class="element" href="{% url 'sigma:adm_proy' %}">Proyectos</a>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block titulo %}Grafo del proyecto{% endblock %}
{% block contenido %}
    <div class="span10">
        <h2><a href="#"></a>Grafo<small class="on-right">del Proyecto</small> X</h2>
        <div class="example">
            <div id="paper"></div>
            <link rel="stylesheet" href="/static/jointjs/css/joint.css" type="text/css"/>
            <script src="/static/MetroBoostrap/js/jquery/jquery-1.6.1.min.js"></script>
            <script src="/static/jointjs/js/joint.min.js"></script>
            <script src="/static/jointjs/js/joint.layout.DirectedGraph.min.js"></script>
            <script src="/static/jointjs/js/autolayout.js"></script>
            <script>
                $(document).ready(function(){
                    layout('{{ idp }}');
                });
            </script>
        </div>
    </div>
{% endblock %}