{% extends 'base_menu.html' %}
{% block definicion_script %}
   <script>

   </script>
{% endblock %}
{% block navegacion %}
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:inicio' %}">Página Principal</a>
    <span class="element-divider"></span>
    <a class="element" href="{% url 'sigma:des_proyec' %}">Desarrollo</a>
    {% if objeto == 'Fase' %}
        <span class="element-divider"></span>
        <a class="element" href="{% url 'sigma:adm_fase' entidad.proyecto.id %}">Proyecto
            <sub>{{ entidad.proyecto.nombre }}</sub></a>
        <span class="element-divider"></span>
        <a class="element" > Fase <sub>{{ entidad.nombre }}</sub> </a>
    {% endif %}
    {% if objeto == 'Item' %}
        <span class="element-divider"></span>
        <a class="element" href="{% url 'sigma:adm_fase' entidad.tipoItems.fase.proyecto.id %}">Proyecto
            <sub>{{ entidad.tipoItems.fase.proyecto.nombre }}</sub></a>
        <span class="element-divider"></span>
        <a class="element" href="{% url 'sigma:adm_i' entidad.tipoItems.fase.id %}">Fase
            <sub>{{ entidad.tipoItems.fase.nombre }}</sub></a>
        <span class="element-divider"></span>
        <a class="element"> Item <sub>{{ entidad.nombre }}</sub> </a>
    {% endif %}

    <span class="element-divider"></span>
    <a class="pull-menu" href="#"></a>
{% endblock %}
{% block titulo %}Grafo de {{ objeto }}{% endblock %}
{% block contenido %}
    <div class="span10">
        <h2><a href="#"></a>Grafo<small class="on-right">de {{ objeto }}</small>{{ entidad.nombre }} </h2>
        <div class="example">
            <div id="paper"></div>
            <link rel="stylesheet" href="/static/jointjs/css/joint.css" type="text/css"/>
            <script src="/static/MetroBoostrap/js/jquery/jquery-1.6.1.min.js"></script>
            <script src="/static/jointjs/js/joint.min.js"></script>
            <script src="/static/jointjs/js/joint.layout.DirectedGraph.min.js"></script>
            <script src="/static/jointjs/js/autolayout.js"></script>
            <script>
                $(document).ready(function(){
                    layout('{{ direc }}');
                });
            </script>
        </div>
    </div>
{% endblock %}